<ul class="share clearfix">
	<li class="share-twitter">
		<a href="https://twitter.com/share"
		class="twitter-share-button"
		data-text="Hate and NuT #{{ comic.chronology }} - {{ comic.title }}"
		data-url="{{ SITE_URL }}{{ comic.get_absolute_url }}?utm_source=twitter&utm_medium=sharing&utm_content=comic-footer-button&utm_campaign=social"
		data-size="large"
		data-related="brantsteen"
		data-count="none" >Tweet</a>
	</li>

	<li class="share-plus">
		<!-- Place this tag where you want the +1 button to render. -->
		<div class="g-plusone"
			data-annotation="none"
			data-href="{{ SITE_URL }}{{ comic.get_absolute_url }}?utm_source=g-plus&utm_medium=sharing&utm_content=comic-footer-button&utm_campaign=social"></div>
	</li>

	<li class="share-facebook">
		<div class="fb-like"
			data-href="{{ SITE_URL }}{{ comic.get_absolute_url}}?utm_source=facebook&utm_medium=sharing&utm_content=comic-footer-button&utm_campaign=social"
			data-ref="fblk_{{ comic.chronology }}"
			data-send="false"
			data-width="300"
			data-show-faces="true"></div>
	</li>
</ul>
