{% extends "base.html" %}

{% load url from future %}

{% block meta_description %}Hate and NuT webcomic issue #{{ comic.chronology }} - {{ comic.description }}{% endblock %}

{% block extra_head %}
	
	{% if previous_comic %}
		<link rel="prefetch" href="{{ previous_comic.get_absolute_url }}" />
	{% else %}
		{% if next_comic %}
			<link rel="prefetch" href="{{ next_comic.get_absolute_url }}" />
		{% endif %}	
	{% endif %}

	<meta property="og:title" content="Hate and NuT #{{ comic.chronology }}" />
	<meta property="og:image" content="{{ SITE_URL }}{{ comic.preview_image_half.url }}" /> 
	<meta property="og:description" content="Hate and NuT #{{ comic.chronology }} - {{ comic.description }}" /> 
{% endblock %}

{% block title %}{{ comic.title }} {{ block.super }} | Webcomic #{{ comic.chronology }}{% endblock %}

{% block body_class %}{% if comic.single_row %}wide-comic-page {% endif %}{% endblock %}

{% block content %}
	<div class="clearfix heading-wrap">
		{% if comic.is_available_to_public %}
			<h1 itemprop="name">Hate and Nut #{{ comic.chronology }}</h1>
		{% else %}
			<h1 class="error">NOT PUBLIC YET (#{{ comic.chronology }})</h1>
		{% endif %}
		
		<nav class="comic-nav">
			<ul class="comic-nav-list">
				<li class="comic-nav-list-item comic-nav-list-item-left">
					{% if comic.is_available_to_public %}
						{% if previous_comic %}
							<a id="prevComic" class="comic-nav-list-item-link" href="{{ previous_comic.get_absolute_url }}" title="Previous Comic (shortcut: 'a' key)"><span class="visuallyhidden">Previous</span><i class="icon-caret-left"></i></a>
							<kbd class="light">a</kbd>
						{% else %}
							<span class="visuallyhidden">Previous</span><i class="icon-caret-left"></i>
						{% endif %}
					{% else %}
						{% with comic.chronology|add:"-1" as PREVIOUS %}
							<a id="prevComic" class="comic-nav-list-item-link" href="{% url 'comic' comic_id=PREVIOUS %}" title="Previous Comic"><span class="visuallyhidden">Previous</span><i class="icon-caret-left"></i></a>
						{% endwith %}
					{% endif %}
				</li>
				
				<li class="comic-nav-list-item comic-nav-list-item-right">
					{% if comic.is_available_to_public %}
						{% if next_comic %}
							<kbd class="light">s</kbd>
							<a id="nextComic" class="comic-nav-list-item-link" href="{{ next_comic.get_absolute_url }}" title="Next Comic (shortcut: 's' key)"><span class="visuallyhidden">Next</span><i class="icon-caret-right"></i></a>
						{% else %}
							<span class="visuallyhidden">Next</span><i class="icon-caret-right"></i>
						{% endif %}
					{% else %}
						{% with comic.chronology|add:"1" as NEXT %}
							<a id="nextComic" class="comic-nav-list-item-link" href="{% url 'comic' comic_id=NEXT %}" title="Next Comic"><span class="visuallyhidden">Next</span><i class="icon-caret-right"></i></a>
						{% endwith %}
					{% endif %}
				</li>
			</ul>
		</nav>
	</div>
	
	{% if comic.single_row %}
		<div class="comic-wide">
			<img src="{{ comic.comic_image.url }}" class="comic" alt="Comic entitled '{{ comic.title }}'"  itemprop="image" />
		</div>
	{% else %}
		<img src="{{ comic.comic_image.url }}" class="comic" alt="Comic entitled '{{ comic.title }}'"  itemprop="image" />
	{% endif %}
	
	<p>{{ comic.date|date }}</p>
	<p class="hidden" itemprop="datePublished">{{ comic.date|date:"Y-m-d" }}</p>
	
	{% include "social/comic_share_buttons.html" %}
	
{% endblock %}
