{% extends "base.html" %}
{% block meta_description %}Hate and NuT webcomic issue #{{ comic.chronology }} - {{ comic.description }}{% endblock %}
{% block extra_head %}
	<meta property="og:title" content="Hate and NuT #{{ comic.chronology }}" />
	<meta property="og:image" content="{{ SITE_URL }}{{ comic.preview_image_half.url }}" /> 
	<meta property="og:description" content="Hate and NuT #{{ comic.chronology }} - {{ comic.description }}" /> 
{% endblock %}

{% block title %}{{ comic.title }} {{ block.super }} | Webcomic #{{ comic.chronology }}{% endblock %}



{% block content %}
	<div class="clearfix heading-wrap">
		<h1>Hate and Nut #{{ comic.chronology }}</h1>
		<nav class="comic-nav">
			<ul class="comic-nav-list">
				<li class="comic-nav-list-item comic-nav-list-item-left">
					{% if previous_comic %}
						<a class="comic-nav-list-item-link" href="{{ previous_comic.get_absolute_url }}" title="Previous Comic"><span class="visuallyhidden">Previous</span><i class="icon-caret-left"></i></a>
					{% else %}
						<span class="visuallyhidden">Previous</span><i class="icon-caret-left"></i>
					{% endif %}
				</li>
				
				<li class="comic-nav-list-item comic-nav-list-item-right">
					{% if next_comic %}
						<a class="comic-nav-list-item-link" href="{{ next_comic.get_absolute_url }}" title="Next Comic"><span class="visuallyhidden">Next</span><i class="icon-caret-right"></i></a></li>
					{% else %}
						<span class="visuallyhidden">Next</span><i class="icon-caret-right"></i>
					{% endif %}
				</li>
			</ul>
		</nav>
	</div>
	<img src="{{ comic.comic_image.url }}" class="comic" alt="Comic entitled '{{ comic.title }}'" />
	<p>{{ comic.date|date }}</p>
	{% include "social/comic_share_buttons.html" %}
{% endblock %}