{% extends "base.html" %}

{% load url from future %}

{% block meta_description %}Webcomic issue #{{ comic.chronology }} - {{ comic.description }}{% if comic.story_arc %} - Part of the '{{ comic.story_arc }}' story arc.{% endif %}{% endblock %}

{% block extra_head %}
	
	{% if previous_comic %}
		<link rel="prefetch" href="{{ previous_comic.get_absolute_url }}" />
	{% else %}
		{% if next_comic %}
			<link rel="prefetch" href="{{ next_comic.get_absolute_url }}" />
		{% endif %}	
	{% endif %}

	<meta property="og:title" content="Hate and NuT #{{ comic.chronology }} - {{ comic.title }}" />
	<meta property="og:image" content="{{ SITE_URL }}{{ comic.preview_image_half.url }}" /> 
	<meta property="og:description" content="Hate and NuT #{{ comic.chronology }} - {{ comic.description }}{% if comic.story_arc %} - Part of the '{{ comic.story_arc }}' story arc.{% endif %}" /> 
{% endblock %}

{% block title %}{{ comic.title }} {{ block.super }} | {% if comic.story_arc and comic.special_story_arc_title %}{{ comic.special_story_arc_title }}{% else %}Webcomic #{{ comic.chronology }}{% endif %}{% endblock %}

{% block body_class %}{% if comic.single_row %}single-row-comic-page {% endif %}{% endblock %}

{% block content %}
	<header class="clearfix heading-wrap">
		{% if comic.is_available_to_public %}
			{% if comic.story_arc and comic.special_story_arc_title %}
				<h1>{{ comic.special_story_arc_title }}</h1>
			{% else %}
				<h1 itemprop="name">Hate and Nut #{{ comic.chronology }}</h1>
			{% endif %}
			
		{% else %}
			<h1 class="error">NOT PUBLIC YET (#{{ comic.chronology }})</h1>
		{% endif %}
		
		<nav class="comic-nav">
			<ul class="comic-nav-list">
				<li class="comic-nav-list-item comic-nav-list-item-left">
					{% if comic.is_available_to_public %}
						{% if previous_comic %}
							<a id="prevComic" class="comic-nav-list-item-link" href="{{ previous_comic.get_absolute_url }}" title="Previous Comic"><span class="visuallyhidden">Previous</span><i class="icon-caret-left"></i></a>
						{% else %}
							<span class="visuallyhidden">Previous</span><i class="icon-caret-left"></i>
						{% endif %}
					{% else %}
						{% with comic.chronology|add:"-1" as PREVIOUS %}
							<a id="prevComic" class="comic-nav-list-item-link" href="{% url 'comic' comic_id=PREVIOUS %}" title="Previous Comic"><span class="visuallyhidden">Previous</span><i class="icon-caret-left"></i></a>
						{% endwith %}
					{% endif %}
				</li>
				
				<li class="comic-nav-list-item comic-nav-list-item-right">
					{% if comic.is_available_to_public %}
						{% if next_comic %}
							<a id="nextComic" class="comic-nav-list-item-link" href="{{ next_comic.get_absolute_url }}" title="Next Comic"><span class="visuallyhidden">Next</span><i class="icon-caret-right"></i></a>
						{% else %}
							<span class="visuallyhidden">Next</span><i class="icon-caret-right"></i>
						{% endif %}
					{% else %}
						{% with comic.chronology|add:"1" as NEXT %}
							<a id="nextComic" class="comic-nav-list-item-link" href="{% url 'comic' comic_id=NEXT %}" title="Next Comic"><span class="visuallyhidden">Next</span><i class="icon-caret-right"></i></a>
						{% endwith %}
					{% endif %}
				</li>
			</ul>
		</nav>
	</header>
	
	{% if comic.single_row %}
		<div class="comic-wide">
			<img src="{{ comic.comic_image.url }}" class="comic" alt="Comic entitled '{{ comic.title }}'"  itemprop="image" />
		</div>
	{% else %}
		<img src="{{ comic.comic_image.url }}" class="comic" alt="Comic entitled '{{ comic.title }}'"  itemprop="image" />
	{% endif %}
	
	<footer class="comic-footer clearfix">
		<p class="comic-date">{{ comic.date|date }}</p>

		{% if comic.inside_arc %}
			<p class="story-arc-from-beginning">You are reading the "{{ comic.story_arc.name }}" story arc. <a href="{{ comic.story_arc.get_absolute_url }}">Read it from the beginning.</a></p>
		{% endif %}

		{% if comic.continuation_of %}
			<p class="story-arc-from-beginning">This comic is a continuation of <a href="{{ comic.continuation_of.get_absolute_url }}">{{ comic.title }} (#{{ comic.chronology }})</a></p>
		{% endif %}
		
		{% if not comic.single_row %}
			<div id="FotomotoToolbar" class="FotomotoToolbarClass"></div>
		{% endif %}
		
		{% include "social/comic_share_buttons.html" %}
		
		<p class="hidden" itemprop="datePublished">{{ comic.date|date:"Y-m-d" }}</p>
	</footer>
{% endblock %}

{% block extra_foot %}
	{% if not comic.single_row %}
		<script type="text/javascript" src="http://widget.fotomoto.com/stores/script/7b69e417ea272bc00fa0804def6ae2eed851bdcc.js"></script>
	{% endif %}
{% endblock %}
