.comic-archive-article{
	float:left;
	position:relative;
	overflow:hidden;
	margin:0 2% 4% 0;
	max-width:48%;
}
.comic-archive-article:nth-of-type(2n){
	margin:0 0 4% 2%;
}
.comic-archive-heading{
	position:absolute;
	width:90%;
	bottom:0;
	left:0;
	padding:5%;
	background:#fff;
	margin:0;
	opacity:.8;
}
.comic-archive-image{
	width:100%;
}
.no-touch .comic-archive-heading{
	bottom:-300px;
	
	-webkit-transition:bottom .4s ease-in-out;
	-moz-transition:bottom .4s ease-in-out;
	-o-transition:bottom .4s ease-in-out;
	-ms-transition:bottom .4s ease-in-out;
	transition:bottom .4s ease-in-out;
			
}
.no-touch .comic-archive-article:hover .comic-archive-heading{
	bottom:0;
}
.comic-archive-article{
	
}
