.character-list{
	margin:0;
	padding:0;
	list-style:none;
}
.character-list-item{
	margin:0 0 1.3em;
	padding:0;
	position:relative;
}
.character-name{
	font-size:1.7em;
}
.character-image{
	margin:0 -10px;
	max-width:none;
	width:110%;
}
.character-description{
	margin:.5em 0 0;
}
