.character-list{
	margin:0;
	padding:0;
	list-style:none;
}
.character-list-item{
	margin:0 -5px 1.3em;
	padding:0 10px;
	position:relative;
	background:#fefefe;
	border:solid 6px #531112;
}
.character-name{
	font-size:1.7em;
	text-align: center;
}
.character-image{
	margin:0 -8%;
	max-width:none;
	width:116%;
	box-shadow:0px 2px 5px rgba(0,0,0,.2);
}
.character-description{
	margin:.5em 0 0;
}
