html > body ul.FotomotoBar .FotomotoSeparator,
html > body span.FotomotoSep1,
html > body span.FotomotoSep2,
html > body span.FotomotoSep3,
html > body span.FotomotoSep4{
	display:none;
	
}
html > body div ul.FotomotoBar, 
html > body div ul.FotomotoBar a, 
html > body div ul.FotomotoBar a.FotomotoBarLink{
	clear:none;
}
body .FotomotoToolbarClass{
	clear:none;
}
.FotomotoToolbarClass{
	display:none;
}
