html{
	background:#070707;
}
body{
	font-size:1.2em;
	padding:0 0 50px;
	color:#1f1f1f;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}
h1, h2, h3, h4{
	font-family:'dirtyhousemedium';
}
.professional .content h1,
.professional .content h2,
.professional .content h3,
.professional .content h4{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight:bold;
}
.professional .content h1{
	margin:.4em 0;
	font-size:1.2em;
}
h1{
	margin:.5em 0;
	font-size:1.4em;
	font-weight:normal;
	color:#272727;
}
h2{
	margin:.4em 0;
	font-size:1.2em;
	font-weight:normal;
}

hgroup h1,
hgroup h2{
	margin:0;
}
hgroup,
.heading-wrap{
	margin:.5em 0;
}
.heading-wrap{
	position:relative;
}
a,
a:visited,
a:link,
a:hover,
a:active{
	text-decoration:none;
	color:#9a1c20;	
}

p{
	margin:0 0 1em;
	padding:0;
}
ul{
	margin:0 0 1.2em 1.3em;
	padding:0;
}
.error{
	color:#d00;
}
.float-right{
	float:right;
}
.float-left{
	float:left;
}
.pg-head-wrap{
	background:#881c1e url('img/feathers.png');
	padding:0 0 5px 0;
}
.pg-head{
	padding:5px 5px 0;
}

.pg-head-nav{
	margin:1% 0 0;
	padding:0;
	float:right;
}
.pg-head-nav-list{
	margin:0;
	padding:0;
}
.pg-head-nav-item{
	padding:0;
	margin:0;
}
.pg-head-nav-link{
	
}
.pg-head-nav .button-elaborate{
	display:none;
}

.pg-wrap{
	background:#fefefe;
}
.pg{
	z-index:1;
	position:relative;
	padding:10px 5px 10px;	
}
.logo{
	max-width:37%;
	border:solid 3px #1f1f1f;
	border-radius:5px;
	padding:.5% 2% 0;
	background:#fefefe;
}
.small-header-ad{
	width:234px;
	height:60px;
	overflow:hidden;
	margin:10px 0 5px;
}
.banner-ad{
	display:none;
	width:728px;
}
.mobile-fixed-ad-wrap{
	position:fixed;
	bottom:0;
	z-index:99;
	left:0;
	padding:0;
	margin:0;
	width:100%;
	height:50px;
}
.mobile-fixed-ad{
	width:320px;
	margin:0 auto;
}

.content{
	text-align:left;
	margin:0 auto;
}
.side-banner-skinny,
.side-banner-medium{
	display:none;
}
.heading-wrap h1{
	margin:0;
	float:left;
	width:65%;
}

.heading-wrap .story-arc-comic-heading-group{
	display:block;
	margin:0;
	padding:0;
	float:left;
	width:65%;	
}
.home .heading-wrap .story-arc-comic-heading-group{
	width:auto;
}
.heading-wrap .story-arc-comic-heading-group h1{
	float:none;
	display:block;
	margin:0;
	padding:0;
	width:auto;
}
.heading-wrap .story-arc-comic-heading-group h2{
	float:none;
	display:block;
	padding:0;
	margin:0;
}
.home .heading-wrap .comic-nav{
	position:absolute;
	top:0;
	right:0;
} 
.comic-nav{
	float:right;
	width:30%;
}
.comic-nav-list{
	margin:0;
	padding:0;
}
.comic-nav-list-item{
	float:right;
	margin:0;
	font-size:1.4em;
	color:#b7b7b7;
}
.comic-nav-list-item-left{
	float:left;
}
.comic-nav-list-item-right{
	float:right;
}
.comic-nav-list-item-link,
.comic-nav-list-item-link:hover,
.comic-nav-list-item-link:active,
.comic-nav-list-item-link:visited,
.comic-nav-list-item-link:link{
	color:#1f1f1f;
}
/*
 * 'wide' comic layout
 */
.comic-wide .comic{
	max-width:200%;
}
.comic-wide{
	overflow: scroll;
	overflow-x: scroll;
	overflow-y: hidden;
	padding-bottom: 10px;
}

.s{
	display:none;
}
.side-banner-medium{
	display:none;
}
.side-rectangle-ad{
	display:none;
}
.pg-foot-wrap{
	background:#070707;
	padding:10px 5px;
	font-size:.9em
}
.footer-text{
	color:#d7d7d7;
	float:left;
}

/*
 * Footer Navigation
 */
.foot-section{
	margin:0 0 1em;
}
.foot-section h2{
	color:#eee;
	margin:0;
	padding:0 0 .1em;
	margin:.3em 0 .2em;
	text-shadow:
	-2px -2px 0 #fff,  
   	2px -2px 0 #fff,
    -2px 2px 0 #fff,
     2px 2px 0 #fff;
	color:#9a1c20;
	font-size:1.6em;
	border-bottom:solid 1px #d7d7d7;
	
}
.foot-section h2 span{
	border-color:#eee;
}
.foot-section li{
	margin:0 0 .3em;
	padding:0;
	display:inline-block;
}
.foot-section ul{
	margin:0 0 15px;
	padding:0;
	-webkit-column-count:3;
	-moz-column-count:3;
	-ms-column-count:3;
	column-count:3;
}
.foot-section a,
.foot-section a:hover,
.foot-section a:link,
.foot-section a:active,
.foot-section a:visited{
	color:#f0f0f0;
}
.footer-text a,
.footer-text a:link,
.footer-text a:hover,
.footer-text a:active,
.footer-text a:visited{
	color:#d7d7d7;
}

.bordered-image{
	border:solid 5px #272727;	
}

.two-col-right,
.two-col-left{
	float:none;
	width:auto;
}
@media all and (max-width:747px){
	.smallscreen-clearfix:before,
	.smallscreen-clearfix:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}
	
	.smallscreen-clearfix:after {
	    clear: both;
	}
	.smallscreen-clearfix {
	    *zoom: 1;
	}
}
