@media all and (min-width:748px){
	.underlined-heading{
		border-bottom:solid 1px;
	}
	body{
		padding:0;
	}
	.content{
		background:#fefefe;
		padding:10px 20px;
		border-radius:20px;
		border:8px solid #531112;
	}
	h1{
		font-size:1.8em;
		margin:.8em 0;
		font-weight:bold;
	}
	.professional .content h1{
		margin:.5em 0;
		font-size:1.5em;
	}
	.pg-head-wrap{
		background:#070707;
		padding:0 0 10px 0;
	}
	.heading-wrap{
		margin:.8em 0;
	}
	.pg-wrap{
		background:#881c1e url('img/feathers.png');
	}
	.pg{
		padding:10px 10px 0 10px;
		margin:0 0 -40px 0;
	}
	.logo{
		max-height:110px;
		float:left;
		border:none;
	}
	.banner-ad{
		display:block;
	}
	.header-ad{
		margin:5px auto 12px;
	}
	.mobile-fixed-ad-wrap{
		display:none;
	}
	.width{
		margin:0 auto;
		max-width:900px;
	}
	.pg-head{
		padding:5px 10px 0 20px;
	}
	.comic-nav{
		width:180px;
	}
	.comic-nav-list-item{
		margin:0;
		font-size:1.8em;
	}
	.pg-wrap{
		border-top:solid 1px #a02123;
	}
	.pg-foot-wrap{
		padding:55px 25px 10px;
	}
	.small-header-ad{
		display:none;
	}
	.heading-404{
		text-shadow:
			-2px -2px 0 #f2f2f2,  
		   	2px -2px 0 #f2f2f2,
		    -2px 2px 0 #f2f2f2,
		     2px 2px 0 #f2f2f2;
		
	}
	.pg-head-nav .button-elaborate{
		display:inline;
	}
	.button{
		border:solid 5px;
	}
	.foot-section{
		float:left;
		width:33%;
		text-align:center;
		padding:0;
	}
	.foot-section li{
		display:list-item;
		float:none;
	}
	.foot-section ul{
		-webkit-column-count:1;
		-moz-column-count:1;
		-ms-column-count:1;
		column-count:1;
	}
	.foot-section h2{
		border:none;
	}
	.donate-button{
		font-size:1.3em;
	}
	.donate-button,
	.donate-button:hover,
	.donate-button:link,
	.donate-button:visited,
	.donate-button:active{
		color:#fefefe;
	}
	.comic-wide .comic{
		max-width:100%;
	}
	.comic-wide{
		overflow:visible;
		overflow-x:visible;
		overflow-y:visible;
	}

	
	.character-list-item{
		margin:0 0 2em;
		font-weight:bold;
	}
	.character-name{
		font-size:2.5em;
		position:absolute;
		top:0;
		left:39%;
		text-shadow:
		-2px -2px 0 #f2f2f2,  
	   	2px -2px 0 #f2f2f2,
	    -2px 2px 0 #f2f2f2,
	     2px 2px 0 #f2f2f2;
	}
	.character-image{
		width:30%;
		float:left;
		margin:0 5% 1em 0;
		border:solid 8px #531112;
		padding:1%;
		background:#fff;
		border-radius:8px;
	}
	.character-description{
		margin:4em 0 0;
	}
	#foot-1:target,
	#foot-1:target a,
	#foot-2:target,
	#foot-2:target a,
	#foot-3:target,
	#foot-3:target a,
	#foot-4:target,
	#foot-4:target a,
	#foot-5:target,
	#foot-5:target a{
		color:#fff;	
	}
	sup a,
	sup a:hover,
	sup a:visited,
	sup a:link,
	sup a:active,
	.footnotes a,
	.footnotes a:hover,
	.footnotes a:link,
	.footnotes a:active,
	.footnotes a:visited{
		color:#272727;
	}
	.comic-archive-article{
		width:20%;
		margin:0 3% 2% 0;
	}
	.comic-archive-article:nth-of-type(2n){
		margin:0 3% 2% 0;
	}
	.comic-archive-article:nth-of-type(4n){
		margin:0 3% 2% 0;
	}
	.comic-archive-list{
		float:left;
		width:30%;
		margin-right:3%;
	}
}

@media all and (min-width:1024px){
	.foot-section{
		text-align:left;
	}
	.two-col-right{
		float:right;
		width:46%;
		padding:2%;
	}
	.two-col-left{
		float:left;
		width:46%;
		padding:2%;
	}
	.pg-head-wrap{
		padding:5px 0 65px 0;
	}
	.pg-404 .pg-head-wrap{
		padding:5px 0;
	}
	
	.image-404{
		float:left;
	}
	h1{
		margin:1em 0;
		font-size:2em;
	}
	hgroup,
	.heading-wrap{
		margin:1em 0;
	}
	.logo{
		/*max-width:270px;*/
		height:110px;
		max-height:none;
		margin:5px 0 0;
		padding:.5% 1% 0;
	}
	.header-ad{
		float:right;
		margin:7px 0;
	}
	.width{
		max-width:1280px;
	}
	.content{
		margin:-65px 0 0;
		max-width:72%;
		float:left;
	}
	.non-comic .content{
		float:none;
		max-width:none;	
	}
	.s{
		float:right;
		display:block;
		width:20%;
		text-align:center;
		/*margin:-40px 0 0;*/
	}
	.pg-head-nav{
		display:none;
	}
	.side-banner-medium{
		display:block;
		margin:2em auto 0;
		width:160px;
	}
}

@media all and (min-width:1280px){
	.width{
		max-width:1400px;
	}
	.button{
		padding:.6em 1.2em;
	}
}

@media all and (min-width:1420px){
	.width{
		max-width:1500px;
	}
}
