@media all and (min-width:748px){
	body{
		padding:0;
		
	}
	.content{
		background:#fefefe;
		padding:10px 20px 0;
		border-radius:20px;
		border:8px solid #531112;
	}
	h1{
		font-size:1.8em;
		margin:.8em 0;
	}
	.pg-head-wrap{
		background:#070707;
		padding:0 0 10px 0;
	}
	.heading-wrap{
		margin:.8em 0;
	}
	.pg-wrap{
		background:#881c1e url('img/feathers.png');
	}
	.pg{
		padding:10px 10px 0 10px;
		margin:0 0 -40px 0;
	}
	.logo{
		max-height:110px;
		float:left;
		border:none;
	}
	.banner-ad{
		display:block;
	}
	.header-ad{
		margin:5px auto 20px;
	}
	.mobile-fixed-ad-wrap{
		display:none;
	}
	.width{
		margin:0 auto;
		max-width:900px;
	}
	.pg-head{
		padding:5px 10px 0 20px;
	}
	.comic-nav{
		width:180px;
	}
	.comic-nav-list-item{
		margin:0;
		font-size:1.8em;
	}
	.pg-wrap{
		border-top:solid 1px #a02123;
	}
	.pg-foot-wrap{
		padding:55px 10px 10px;
	}
	.footer-text{
		text-align:center;
	}
}

@media all and (min-width:1024px){
	html{
		
	}
	.pg-head-wrap{
		
		padding:5px 0 60px 0;
	}
	h1{
		margin:1em 0;
		font-size:2em;
	}
	.heading-wrap{
		margin:1em 0;
	}
	.logo{
		max-width:270px;
		padding:.5% 1% 0;
	}
	.header-ad{
		float:right;
		margin:15px 0;
	}
	.width{
		max-width:1280px;
	}
	.content{
		margin:-65px 0 0;
		max-width:76%;
		float:left;
	}
	.s{
		float:right;
		display:block;
	}
	.side-banner-medium{
		display:block;
		margin:2em 0 0;
	}
	.pg-foot-wrap{
		padding:32px 10px;
		box-shadow:0 0 10px rgba(0,0,0,.5);
	}
	.footer-text{
		float:right;
		background:#070707;
		margin:-80px 0 0 0;
		padding:20px 20px 40px 20px;
		border-radius:30px 30px 0 0;
		box-shadow:0 0 10px rgba(0,0,0,.5);
	}
}

@media all and (min-width:1280px){
	.side-banner-medium{
		display:none;
	}
	.side-rectangle-ad{
		display:block;
		margin:2em 0 0;
	}
	.width{
		max-width:1400px;
	}
	.content{
		max-width:70%;
	}
	.footer-text{
		padding:15px 50px 15px;
		border-radius:25px 25px 0 0;
		margin:-80px 20px 0 0;
	}
}

@media all and (min-width:1420px){
	
	.width{
		max-width:1500px;
	}
}