{% extends "characters/base.html" %}
{% load markup %}
{% block title %}Characters {{ block.super }}{% endblock %}

{% block body_class %}nopg{% endblock %}

{% block content %}
	<h1 class="heading-404">The Cast</h1>
	<ul class="character-list">
		{% for character in characters %}
			<li class="character-list-item clearfix">
				<h2 class="character-name">{{ character.name }}</h2>
				<img class="character-image" src="{{ character.image.url }}" alt="Picture of {{ character.name }}" />
				<div class="character-description">
					{% autoescape off %}
						{{ character.description|markdown }}
					{% endautoescape %}
				</div>
			</li>
		{% endfor %}
	</ul>
	
	<hr/>
	<section class="footnotes">
		<ol>
			<li id="foot-1"><a href="#ret-1">The author admits to not really knowing a lot about Harry Potter.</a></li>
		</ol>
	</section>
{% endblock %}
