<!doctype html>{% load static from staticfiles %}{% load mub_tags %}{% load url from future %}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{% block title %}| {{ SITE_NAME }}{% endblock %}</title>
		<script type="text/javascript">window.google_analytics_uacct = "UA-19357683-2";</script>		
		<meta name="description" content="{% block meta_description %}A webcomic about a couple of rutheless killers, set in the world of Ultima Online.{% endblock %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="apple-mobile-web-app-title" content="Hate and NuT" />
		<link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />

		{% add_static "css" %}
		
		{% block extra_head %}{% endblock %}
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{% static "js/nocache/jquery-1.9.1.min.js" %}"><\/script>')</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-19357683-2', 'hateandnut.com');
  ga('send', 'pageview');

</script>

		
		<script src="{% static "js/nocache/modernizr.js" %}"></script>
	</head>
	
	<body class="{% block body_class %}{% endblock %}"><script type="text/javascript">var myViewport = $(window).width(); function writeAd(){document.write("<script type=\"text/javascript\" src=\"http://pagead2.googlesyndication.com/pagead/show_ads.js\"><\/script>");}</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=495389753807975";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

		<header class="pg-head-wrap clearfix">
			<div class="width">
				<div class="pg-head">
					

<script type="text/javascript"><!--
	if (myViewport > 748){
		google_ad_client = "ca-pub-8960806131802161";
		/* HaN: Header Banner */
		google_ad_slot = "9464960332";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		document.write('<aside class="banner-ad header-ad">');
		writeAd();
		document.write('<\/aside>');
	}
</script>

<script type="text/javascript"><!--
	if (myViewport < 748){
		google_ad_client = "ca-pub-8960806131802161";
		/* HaN: Smallest: Mobile Banner */
		google_ad_slot = "1941693537";
		google_ad_width = 320;
		google_ad_height = 50;
		//-->
		document.write('<aside class="mobile-fixed-ad-wrap"><div class="mobile-fixed-ad">');
		writeAd();
		document.write('<\/div><\/aside>');
	}
</script>
					
					<a href="{% url "home" %}"><img class="logo" title="A webcomic about a couple of rutheless killers, set in the world of Ultima Online." src="{% static "img/adv_hateandnut.png" %}" alt="Hate and Nut Logo" /></a>
				</div>
			</div>
		</header>
		
		<div class="pg-wrap">
			<div class="width">
				<div class="pg clearfix">
					{% block content_plus_ads %}
						<article class="content clearfix">
							{% block content %}{% endblock %}
						</article>
						<div class="s">
							<aside class="clearfix">
								<ul class="social">
									<li><a title="Subscribe via RSS" class="social-icon social-rss" href="{{ SITE_META.RSS }}"><span class="visuallyhidden">RSS Feed</span></a></li>
									<li><a title="Follow me on Twitter" class="social-icon social-twitter" href="{{ SITE_META.TWITTER }}"><span class="visuallyhidden">Follow me on Twitter</span></a></li>
								</ul>
							</aside>

<script type="text/javascript"><!--
	if (myViewport >= 1024 && myViewport < 1280){
		google_ad_client = "ca-pub-8960806131802161";
		/* HaN: Skyscraper */
		google_ad_slot = "3418426731";
		google_ad_width = 160;
		google_ad_height = 600;
		//-->
		document.write('<aside class="side-banner-medium">');
		writeAd();
		document.write('<\/aside>');
	}
</script>							

<script type="text/javascript"><!--
	if (myViewport >= 1280){
		google_ad_client = "ca-pub-8960806131802161";
		/* HaN: Largest: Square */
		google_ad_slot = "6511493936";
		google_ad_width = 300;
		google_ad_height = 250;
		//-->
		document.write('<aside class="side-rectangle-ad">');
		writeAd();
		document.write('<\/aside>');
	}
</script>

<script type="text/javascript"><!--
	if (myViewport >= 1280){
		google_ad_client = "ca-pub-8960806131802161";
		/* HaN: Largest: Big Side Banner */
		google_ad_slot = "7988227137";
		google_ad_width = 300;
		google_ad_height = 600;
		//-->
		document.write('<aside class="side-rectangle-ad">');
		writeAd();
		document.write('<\/aside>');			
	}
</script>

						</div>
					{% endblock %}
				</div>
			</div>
		</div>
		
		<footer class="pg-foot-wrap clearfix">
					
			<p class="footer-text">&copy; 2013 Hate and NuT<br/>Webcomic by <span itemscope itemtype="http://data-vocabulary.org/Person"><a itemprop="url" title="Brant Steen Web Design" href="http://brantsteen.com"><span itemprop="name">Brant Steen</span></a></span></p>
			<ul class="social">
				<li><a title="Subscribe via RSS" class="social-icon social-rss" href="{{ SITE_META.RSS }}"><span class="visuallyhidden">RSS Feed</span></a></li>
				<li><a title="Follow me on Twitter" class="social-icon social-twitter" href="{{ SITE_META.TWITTER }}"><span class="visuallyhidden">Follow me on Twitter</span></a></li>
			</ul>
		</footer>
		
		
		{% add_static "js" %}
    </body>
    
</html>