<!doctype html>
<html>{% load static from staticfiles %}{% load mub_tags %}{% load url from future %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{% block title %}| {{ SITE_NAME }}{% endblock %}</title>
		<meta name="description" content="A web comic set in the world of Ultima Online">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% add_static "css" %}
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{% static "js/nocache/jquery-1.9.1.min.js" %}"><\/script>')</script>

<meta name="google-site-verification" content="epHxHM8Xj-_R-OhTBx9wsUDQiiuGXbQ5NM2AjIb-PVI" />
<script type="text/javascript">window.google_analytics_uacct = "UA-19357683-2";</script>		
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-19357683-2', 'hateandnut.com');
  ga('send', 'pageview');

</script>
		
		<script src="{% static "js/nocache/modernizr.js" %}"></script>
	</head>
	
	<body><script type="text/javascript">var myViewport = $(window).width(); function writeAd(){document.write("<script type=\"text/javascript\" src=\"http://pagead2.googlesyndication.com/pagead/show_ads.js\"><\/script>");}</script>
		<header class="pg-head-wrap clearfix">
			<div class="width">
				<div class="pg-head">
					

<script type="text/javascript"><!--
	if (myViewport > 748){
		google_ad_client = "ca-pub-8960806131802161";
		/* HaN: Header Banner */
		google_ad_slot = "9464960332";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		document.write('<aside class="banner-ad header-ad">');
		writeAd();
		document.write('<\/aside>');
	}
</script>

<script type="text/javascript"><!--
	if (myViewport < 748){
		google_ad_client = "ca-pub-8960806131802161";
		/* HaN: Smallest: Mobile Banner */
		google_ad_slot = "1941693537";
		google_ad_width = 320;
		google_ad_height = 50;
		//-->
		document.write('<aside class="mobile-fixed-ad-wrap"><div class="mobile-fixed-ad">');
		writeAd();
		document.write('<\/div><\/aside>');
	}
</script>
					
					<a href="{% url "home" %}"><img class="logo" src="{% static "img/adv_hateandnut.png" %}" alt="Hate and Nut Logo" /></a>
				</div>
			</div>
		</header>
		
		<div class="pg-wrap">
			<div class="width">
				<div class="pg clearfix">
					{% block content_plus_ads %}
						<div class="content clearfix">
							{% block content %}{% endblock %}
						</div>
						<div class="s">

<script type="text/javascript"><!--
	if (myViewport >= 1024 && myViewport < 1280){
		console.log(myViewport);
		google_ad_client = "ca-pub-8960806131802161";
		/* HaN: Skyscraper */
		google_ad_slot = "3418426731";
		google_ad_width = 160;
		google_ad_height = 600;
		//-->
		document.write('<aside class="side-banner-medium">');
		writeAd();
		document.write('<\/aside>');
	}
</script>							

<script type="text/javascript"><!--
	if (myViewport >= 1280){
		google_ad_client = "ca-pub-8960806131802161";
		/* HaN: Largest: Square */
		google_ad_slot = "6511493936";
		google_ad_width = 300;
		google_ad_height = 250;
		//-->
		document.write('<aside class="side-rectangle-ad">');
		writeAd();
		document.write('<\/aside>');
	}
</script>

<script type="text/javascript"><!--
	if (myViewport >= 1280){
		google_ad_client = "ca-pub-8960806131802161";
		/* HaN: Largest: Big Side Banner */
		google_ad_slot = "7988227137";
		google_ad_width = 300;
		google_ad_height = 600;
		//-->
		document.write('<aside class="side-rectangle-ad">');
		writeAd();
		document.write('<\/aside>');			
	}
</script>

						</div>
					{% endblock %}
				</div>
			</div>
		</div>
		
		<footer class="pg-foot-wrap clearfix">
					
			<p class="footer-text">&copy; 2013 Hate and NuT<br/>Website by <a href="http://brantsteen.com">Brant Steen</a></p>

		</footer>
		
		
		{% add_static "js" %}
    </body>
    
</html>