<!doctype html>{% load static from staticfiles %}{% load mub_tags %}{% load url from future %}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{% block title %}| {{ SITE_NAME }}{% endblock %}</title>
		<script type="text/javascript">window.google_analytics_uacct = "UA-19357683-2";</script>		
		<meta name="description" content="{% block meta_description %}A webcomic about the adventures of couple of ruthless killers - Hate and NuT - along with a colorful cast of other characters, set in a dangerous fantasy world.{% endblock %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="apple-mobile-web-app-title" content="Hate and NuT" />
		<link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />

		{% add_static "css" %}
		
		{% block extra_head %}{% endblock %}
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{% static "js/nocache/jquery-1.9.1.min.js" %}"><\/script>')</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-19357683-2', 'hateandnut.com');
  ga('send', 'pageview');

</script>

		
		<script src="{% static "js/nocache/modernizr.js" %}"></script>
	</head>
	
	<body class="{% block body_class %}{% endblock %}">

<script type="text/javascript">var myViewport = $(window).width();</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=495389753807975";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

		<header class="pg-head-wrap clearfix">
			<div class="width">
				<div class="pg-head">

<script type="text/javascript"><!--
	if (myViewport >= 748){
		document.write('<aside class="banner-ad header-ad sponsorship-ad-wrapper" data-sponsorship="{% url "sponsorship_ad_by_type" type_slug="leaderboard" %}"><\/aside>');
	}
	else if (myViewport < 748){
		document.write('<aside class="mobile-fixed-ad-wrap"><div class="mobile-fixed-ad sponsorship-ad-wrapper" data-sponsorship="{% url "sponsorship_ad_by_type" type_slug="mobile-leaderboard" %}"><\/div><\/aside>');
	}//-->
</script>
					<nav class="pg-head-nav">
						<ul class="pg-head-nav-list">
							<li class="pg-head-nav-item">
								
							</li>
						</ul>
					</nav>

					<a href="{% url "home" %}"><img class="logo" title="A webcomic about a couple of rutheless killers, set in the world of Ultima Online." src="{% static "img/adv_hateandnut.png" %}" alt="Hate and Nut Logo" /></a>
				</div>
			</div>
		</header>
		
		<div class="pg-wrap">
			<div class="width">
				<div class="pg clearfix">
					{% block content_plus_ads %}
						<article class="content clearfix" itemscope itemtype="http://schema.org/CreativeWork">
							{% block content %}{% endblock %}
						</article>
						<div class="s">
							
							

<script type="text/javascript"><!--
	if (myViewport >= 1024){
		document.write('<aside class="side-banner-medium sponsorship-ad-wrapper" data-sponsorship="{% url "sponsorship_ad_by_type" type_slug="wide-skyscraper" %}"><\/aside>');
	}//-->
</script>
							<aside class="clearfix">
								<ul class="social">
									<li><a title="Subscribe via RSS" class="social-icon social-rss" href="{{ SITE_META.RSS }}"><span class="visuallyhidden">RSS Feed</span></a></li>
									<li><a title="Follow me on Twitter" class="social-icon social-twitter" href="{{ SITE_META.TWITTER }}"><span class="visuallyhidden">Follow me on Twitter</span></a></li>
								</ul>
							</aside>	
						</div>
					{% endblock %}
				</div>
			</div>
		</div>
		
		<footer class="pg-foot-wrap clearfix">
			
			<div class="clearfix">
				{% block footer_content %}
				<nav class="foot-section">
						<h2><span class="underlined-heading">Support the Comic</span></h2>
						<ul>
							<li><a href="{% url "become_an_advertiser" %}">Advertise</a></li>
							
							<li><a href="{% url "become_a_sponsor" %}">Sponsor</a></li>
						</ul>
					</nav>
					<nav class="foot-section">
						<h2><span class="underlined-heading">Hate and NuT</span></h2>
						<ul>
							<li><a href="{% url "archive_index" %}">Archive</a></li>
							
						</ul>
					</nav>
					
					<nav class="foot-section">
						<h2><span class="underlined-heading">Follow Along</span></h2>
						<ul>
							<li><a href="{{ SITE_META.RSS }}">Subscribe via RSS</a></li>
							<li><a href="{{ SITE_META.TWITTER }}">Twitter</a></li>
						</ul>
					</nav>
				{% endblock %}
				
			</div>
			<ul class="social">
				<li><a title="Subscribe via RSS" class="social-icon social-rss" href="{{ SITE_META.RSS }}"><span class="visuallyhidden">RSS Feed</span></a></li>
				<li><a title="Follow me on Twitter" class="social-icon social-twitter" href="{{ SITE_META.TWITTER }}"><span class="visuallyhidden">Follow me on Twitter</span></a></li>
			</ul>
			<p class="footer-text">&copy; 2013 Hate and NuT<br/>Webcomic by <span itemscope itemtype="http://data-vocabulary.org/Person"><a itemprop="url" title="Brant Steen Web Design" href="http://brantsteen.com"><span itemprop="name">Brant Steen</span></a></span></p>
			
			
		</footer>
		
		{% add_static "js" %}
		
    </body>
</html>