{% extends "base.html" %}
{% load static from staticfiles %}<br />

{% block title %}About {{ block.super }}{% endblock %}
{% block body_class %}non-comic{% endblock %}
{% block content_plus_ads %}
<div class="content clearfix">
<h1>The Adventures of Hate and NuT</h1>
<p>Back in the early days of MMORPGs (that's "moh-mour-pah-jah" for people who like to pronounce abbreviations) when things like capslock was still cool, there were two characters on the Catskills Ultima Online shard named <em>I HATE EVERYONE</em> and <em>NuTbReAd</em>.</p>
<p>I played one of these characters. Can you guess which one? Hate. I was Hate. Did you guess that?</p>
<img class="bordered-image" src="{% static "img/hate-yell.jpg" %}" alt="Hate, yelling" />
<img class="bordered-image" src="{% static "img/nut-angry.jpg" %}" alt="Hate, angry" />
</div>
{% endblock %}