{% extends "base.html" %}

{% block title %}The Adventures of Hate and NuT | Latest Webcomic{% endblock %}

{% block body_class %}{% if latest_comic.single_row %}wide-comic-page {% endif %}{% endblock %}

{% block extra_head %}{% load static from staticfiles %}
	
	{% if previous_comic %}
		<link rel="prefetch" href="{{ previous_comic.get_absolute_url }}" />
	{% endif %}
	
	<meta property="og:title" content="The Adventures of Hate and NuT" />
	<meta property="og:image" content="{{ SITE_URL }}{% static "img/OG_image_home.jpg" %}" /> 
	<meta property="og:description" content="A webcomic about a couple of rutheless killers, set in the world of Ultima Online." /> 
{% endblock %}

{% block content %}
	<div class="clearfix heading-wrap">
		<h1>Latest</h1>
		<nav class="comic-nav">
			<ul class="comic-nav-list">
				<li class="comic-nav-list-item comic-nav-list-item-left">
					{% if previous_comic %}
						<a id="prevComic" class="comic-nav-list-item-link" href="{{ previous_comic.get_absolute_url }}" title="Previous Comic"><span class="visuallyhidden">Previous</span><i class="icon-caret-left"></i></a>
					{% else %}
						<span class="visuallyhidden">Previous</span><i class="icon-caret-left"></i>
					{% endif %}		
				</li>
				<li class="comic-nav-list-item comic-nav-list-item-right"><span class="visuallyhidden">Next</span><i class="icon-caret-right"></i></li>
			</ul>
		</nav>
	</div>
	{% if comic.single_row %}
		<div class="comic-wide">
			<img src="{{ latest_comic.comic_image.url }}" class="comic" alt="Comic entitled '{{ latest_comic.title }}'" />
		</div>
	{% else %}
		<img src="{{ latest_comic.comic_image.url }}" class="comic" alt="Comic entitled '{{ latest_comic.title }}'" />
	{% endif %}
	<p>{{ latest_comic.date|date }}</p>
	
	{% with latest_comic as comic %}
		{% include "social/comic_share_buttons.html" %}
	{% endwith %}
	
{% endblock %}
