{% extends "base.html" %}

{% load comic_tags %}

{% block title %}Adventures of Hate and NuT | Latest Webcomic{% endblock %}

{% block body_class %}home {% if latest_comic.single_row %}single-row-comic-page {% endif %}{% endblock %}

{% block extra_head %}{% load static from staticfiles %}

	{% if previous_comic %}
		<link rel="prefetch" href="{{ previous_comic.get_absolute_url }}" />
	{% endif %}

	<meta property="og:title" content="Adventures of Hate and NuT" />
	<meta property="og:image" content="{{ SITE_URL }}{% static "img/OG_image_home.jpg" %}" />
	<meta property="og:description" content="A lighthearted webcomic comedy about the adventures of couple of ruthless killers - Hate and NuT - along with a colorful cast of other characters, set in a dangerous fantasy world." />
{% endblock %}

{% block content %}
	<header class="clearfix heading-wrap">
		<hgroup class="story-arc-comic-heading-group">
			<h1>Latest</h1>
			{% if latest_comic.story_arc and latest_comic.special_story_arc_title %}
				<h2>{{ latest_comic.special_story_arc_title }}</h2>
			{% else %}
				<h2>Hate and Nut #{{ comic.chronology }}</h2>
			{% endif %}
		</hgroup>

		<nav class="comic-nav">
			<ul class="comic-nav-list">
				<li class="comic-nav-list-item comic-nav-list-item-left">
					{% if previous_comic %}
						<a id="prevComic" class="comic-nav-list-item-link" href="{{ previous_comic.get_absolute_url }}" title="Previous Comic"><span class="visuallyhidden">Previous</span><i class="icon-caret-left"></i></a>
					{% else %}
						<span class="visuallyhidden">Previous</span><i class="icon-caret-left"></i>
					{% endif %}
				</li>
				<li class="comic-nav-list-item comic-nav-list-item-right"><span class="visuallyhidden">Next</span><i class="icon-caret-right"></i></li>
			</ul>
		</nav>
	</header>
	{% if latest_comic.single_row %}
		<div class="comic-wide">
			<img src="{{ latest_comic.comic_image.url }}" class="comic" alt="Webcomic #{{ comic.chronology }} entitled '{{ comic.title }}'" />
		</div>
	{% else %}
		<img src="{{ latest_comic.comic_image.url }}" class="comic" alt="Webcomic #{{ comic.chronology }} entitled '{{ comic.title }}'" />
	{% endif %}


	<footer class="comic-footer clearfix">
		{% render_comic_footer latest_comic next_comic previous_comic %}
	</footer>

{% endblock %}


{% block extra_foot %}
	{% if not latest_comic.single_row %}
		<script type="text/javascript" src="http://widget.fotomoto.com/stores/script/7b69e417ea272bc00fa0804def6ae2eed851bdcc.js"></script>
	{% endif %}
{% endblock %}
